@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@layer base {
  h1 {
    @apply text-white mb-2 text-3xl
  }
  body {
    @apply bg-black/55 flex justify-center items-center
  }
}

@layer components {
  .TodoWrapper{
    @apply bg-pink-300 mt-20 p-8 rounded
  }

  .TodoForm {
    @apply w-[100%] mb-4
  }


  .todo-input {
    @apply mt-4 mb-8 w-[300px] py-2 px-4 outline-none bg-none border-[#8758ff]
  }

  .todo-btn {
    @apply bg-pink-700 text-white border-none p-[0.55rem] cursor-pointer
  }

  .todo-input::placeholder {
    @apply text-[#ffffff4d]
  }


  .Todo {
    @apply flex justify-between items-center bg-pink-700 text-white mb-4 rounded py-3 px-4
  }

  .fa-trash {
    @apply ml-2
  }
}
